$tablet: 600px;
$desktop: 992px;

$purple: #633CFF;
$purple-hover: #BEADFF;
$purple-light: #EFEBFF;
$dark-gray: #333333;
$gray: #737373;
$borders: #D9D9D9;
$light-gray: #FAFAFA;
$white: #FFFFFF;
$red: #FF3939;